<div class='row'>
  <h3>Biography</h3>
  <p><span class="lead">Sinatra had three children, Nancy, Frank Jr.,</span> and Tina, all with his first wife, Nancy Sinatra (m. 1939–1951). He was married three more times, to actresses Ava Gardner (m. 1951–1957), Mia Farrow (m. 1966–1968), and finally to Barbara Marx (m. 1976–1998; his death). In a 2013 Vanity Fair article, Mia Farrow claimed that Sinatra may be the father of her son, Ronan Farrow; but she did not produce, and has not since produced, any DNA or other evidence to support that possibility.</p>

  <p>Throughout his life, Sinatra had mood swings and bouts of mild depression as befitted a man who put deep emotion into his singing. Avoiding solitude and unglamorous surroundings at all cost, he struggled with the conflicting need "to get away from it all, but not too far away."[50]:485 He acknowledged this, telling an interviewer in the 1950s: "Being an 18-karat manic depressive, and having lived a life of violent emotional contradictions, I have an over-acute capacity for sadness as well as elation."[8]:218 In her memoirs My Father's Daughter, his daughter Tina wrote about the "eighteen-karat" remark: "As flippant as Dad could be about his mental state, I believe that a Zoloft a day might have kept his demons away. But that kind of medicine was decades off."</p>

  <p>In a 1963 interview with Playboy magazine, Sinatra described his religious views, stating

    <blockquote>
      <p>I think I can sum up my religious feelings in a couple of paragraphs. First: I believe in you and me. I'm like Albert Schweitzer and Bertrand Russell and Albert Einstein in that I have a respect for life – in any form. I believe in nature, in the birds, the sea, the sky, in everything I can see or that there is real evidence for. If these things are what you mean by God, then I believe in God. But I don't believe in a personal God to whom I look for comfort or for a natural on the next roll of the dice.</p>
    </blockquote>

  <p>However, though turned off by organized religion at times, Sinatra had a deep faith that became public when he turned to the Catholic Church for healing after his mother died in a plane crash late in his career. He died as a practicing Catholic and had a Catholic burial.</p>

  <footer>Bio thanks to <cite><a href="http://en.wikipedia.org/wiki/Frank_Sinatra#Personal_life">Wikipedia</a></cite>
  </footer>
</div>
